$primary: #5c8cbd;

@import "../node_modules/bootstrap/scss/bootstrap";

* {
  font-family: "open sans", Tahoma, sans-serif;
}
.primary {
  color: #5c8cbd;
}
.navbar {
  height: 60px;
}
.flexs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex2 {
  display: flex;
  align-items: center;
}
.flex3 {
  display: flex;
  align-items: flex-start;
}
.stars {
  display: flex;
}
.star {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.f-bold {
  font-weight: bold;
}
.list-product {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
